@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
/* @import "slick-carousel/slick/slick-theme.css"; */

.slick-loading .slick-list {
  background: none !important;
}

@theme {
  --color-primary: #3aa39f;
  --color-primary-hover: #318e8b;
  --color-headers: #17183b;
  --color-french-gray: #a2a3b1;
  --color-cool-gray: #a2a3b1;

  --text-base--line-height: 20px;
  --text-xl--line-height: 24px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-gradient {
  background: linear-gradient(
    270.26deg,
    #4b8785 54.22%,
    rgba(75, 135, 133, 0) 99.85%
  );
}
